name: liveness_flutter
description: A Flutter plugin for Udentify Face Recognition & Liveness detection.
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.livenessflutter
        pluginClass: LivenessFlutterPlugin
      ios:
        pluginClass: LivenessFlutterPlugin
