name: udentify_core_flutter
description: "Core shared components for Udentify Flutter libraries including SSL certificate pinning."
version: 1.0.0
homepage: https://github.com/your-repo/udentify-core-flutter

environment:
  sdk: ^3.5.4
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.udentifycoreflutter
        pluginClass: UdentifyCoreFlutterPlugin
      ios:
        pluginClass: UdentifyCoreFlutterPlugin

